body {
    background-color: #CFBFB5;
    max-width: 600px;
    margin: auto;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 2em;
    width: 80%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;

}


#divElement {
    margin-top: 100px;
    margin-bottom: 0px;
    font-size: 12px;

}

.jsonListWeeks {
    font-size: 15px;
    color: red;
    float: left;
}

.jsonListTasks {
    font-size: 19px;

}

#upper {
    border-bottom-style: solid;
    border-bottom-width: thick;
    border-color: #5E6B6E;
    width: 600px;
    height: 259px;
    background-image: url("assets/mtnimgsmall2.jpg");
    box-shadow: 20px 20px 50px grey;
}


#addNew {
    margin-bottom: 0;
    font-size: 25px;
    padding: 5px;
    border-color: gainsboro;
    border-style: solid;
}

.totalChar {
    font-size: 18px;
    margin-left: 30px;
    float: left;
    color: #b7b4b4;
}

.divs {
    text-align: center;
    width: 100%;
    font-size: 1em;
    padding: 50px 0;
    background-color: white;
    box-shadow: 20px 20px 50px grey;
}

input, textarea, p, section, article, select {
    font-family: 'Montserrat', sans-serif;
    width: 80%;
    font-size: 1em;
    margin: 0.5em;
}
.todoList {
    margin-top: 60px;
    margin-bottom: 40px;
}

.navBar{
    background-color: #7B8B8B;
    box-shadow: 20px 20px 50px grey;
}

#date{
    float: right;
    color: white;
    margin-right: 20px;
    font-size: 25px;
}

#currentDate{
    font-size: 18px;
    color: #b7b4b4;
    margin-top: 10px;
    margin-bottom: 20px;
}

#addBtn {
    border-radius: 50px;
    width: 45px;
    margin-right: 10px;
    cursor: pointer;
    background-color: #7B8B8B;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
}

#addBtn:hover {
    background-color: #748889;
}

button {
    font-size: 1em;
    display: inline-block;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
}

.todo {
    cursor: pointer;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-right: 40px;
    padding: 5px 20px;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #b7b4b4;
}

.done {
    text-decoration: line-through;
    color: dimgray;
}

.removeItem {
    border-radius: 50px;
    width: 33px;
    cursor: pointer;
    background-color: white;
    border: none;
    color: #7B8B8B;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    box-shadow: -1px 0 gainsboro, 0 1px gainsboro, 1px 0 gainsboro, 0 -1px gainsboro;
}

.removeItem:hover {
    background-color: gainsboro;
}


.showDivs {
    float: bottom;
    background-color: #7B8B8B;
    font-size: 17px;
    color: white;
    border-style: none;
    cursor: pointer;
    height: 50px;
}

.showDivs:hover {
    background-color: #5E6B6E;
}

#header {
    margin: 30px 200px 120px 15px;
    float: left;
    color: white;
    font-weight: lighter;
    text-shadow: -1px 0 #748889, 0 1px #748889, 1px 0 #748889, 0 -1px #748889;
}

.massButtons {
    background-color: #7B8B8B;
    font-size: 20px;
    margin-top: 60px;
    color: white;
    border-style: none;
    cursor: pointer;
    width: 140px;
    height: 50px;
}

.massButtons:hover {
    background-color: #5E6B6E;

}
.labels {
    font-size: 25px;
}

.selectDate {
    font-size: 25px;
    width: 150px;
}

#submit {
    background-color: #7B8B8B;
    font-size: 20px;
    color: white;
    border-style: none;
    cursor: pointer;
    width: 140px;
    height: 50px;
    margin: 60px 100px 0px;
}
#submit:hover{
    background-color: #5E6B6E;
}

#ok {
    display: none;
    background-color: #7B8B8B;
    font-size: 20px;
    color: white;
    border-style: none;
    cursor: pointer;
    width: 140px;
    height: 50px;
    margin: 60px 100px 0px;
}

#ok:hover{
    background-color: #5E6B6E;
}

#saveMsg{
    display: none;
    margin-bottom: 12px;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    margin-right: 0px;
    margin-left: 100px;
    padding: 5px 20px;


}

#saveOk{
    display: none;
    cursor: pointer;
    background-color: white;
    border: none;
    width: 120px;
    height: 50px;
    margin-right: 100px;
    color: #7B8B8B;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    box-shadow: -1px 0 gainsboro, 0 1px gainsboro, 1px 0 gainsboro, 0 -1px gainsboro;
}

#saveOk:hover {
    background-color: #93bbbb;
    color: white;
}